### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
text1='This is a test of the emergency text system'

In [2]:
len(text1)

43

In [3]:
outfile=open('text.txt','wt')

In [4]:
outfile.write(text1)

43

In [5]:
outfile.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [6]:
with open('text1.txt','rt') as infile:
    text2=infile.read()

In [7]:
len(text2)

43

In [8]:
text1==text2

True

### 3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [9]:
text='''title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992'''

In [10]:
with open('book.csv','wt') as outfile:
    outfile.write(text)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [11]:
import sqlite3

In [12]:
db=sqlite3.connect('book.db')

In [13]:
curs=db.cursor()

In [16]:
curs.execute('''create table book2(title text,author text,year integer)''')

In [17]:
db.commit()

### 5. Read books.csv and insert its data into the book table.

In [18]:
import csv

In [19]:
import sqlite3

In [20]:
ins_str='insert into book1 values(?,?,?)'

In [22]:
with open('book.csv','rt') as infile:
    books = csv.DictReader(infile)
    for book1 in books:
        curs.execute(ins_str, (book1['title'], book1['author'], book1['year']))

In [23]:
db.commit()

### 6. Select and print the title column from the book table in alphabetical order.

In [27]:
sql = 'select title from book1 order by title asc'

In [28]:
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [29]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 7. From the book table, select and print all columns in the order of publication.

In [30]:
sql1='select * from book1 order by year'

In [31]:
for i in db.execute(sql1):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [32]:
for i in db.execute(sql1):
    print(*i,',')

The Weirdstone of Brisingamen Alan Garner 1960 ,
Small Gods Terry Pratchett 1992 ,
Perdido Street Station China Miéville 2000 ,
Thud! Terry Pratchett 2005 ,
The Spellman Files Lisa Lutz 2007 ,

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [33]:
import sqlalchemy

In [34]:
conn = sqlalchemy.create_engine('sqlite:///book.db')

In [38]:
sql = 'select title from book1 order by title asc'

In [39]:
rows = conn.execute(sql)

In [40]:
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [41]:
!pip install redis

Collecting redis
  Downloading redis-4.4.2-py3-none-any.whl (237 kB)
     ------------------------------------ 237.8/237.8 kB 910.3 kB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.4.2

In [54]:
import redis

In [55]:
conn = redis.Redis()

### 10. Increment the count field of test and print it.

conn.hincrby('test', 'count', 3) 4 conn.hget('test', 'count') b'4'