### Question 1
#### Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

### Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [4]:
def is_symmartic(num):
    current_num=reverse_num=0
    remaning_num=num
    while (remaning_num !=0):
        current_num = remaning_num%10
        reverse_num=reverse_num *10 +current_num
        print('reverse_num: ',reverse_num)
        remaning_num=remaning_num//10
        
    if reverse_num == num:
        print('num {} is a symmatric'.format(num))
    else:
        print('num {} is not a symmatric'.format(num))
        
is_symmartic(7227)

reverse_num:  7
reverse_num:  72
reverse_num:  722
reverse_num:  7227
num 7227 is a symmatric

In [6]:
def is_symmartic(num):
    current_num=reverse_num=0
    remaning_num=num
    while (remaning_num !=0):
        current_num = remaning_num%10
        reverse_num=reverse_num *10 +current_num
        print('reverse_num: ',reverse_num)
        remaning_num=remaning_num//10
        
    if reverse_num == num:
        print('num {} is a symmatric'.format(num))
    else:
        print('num {} is not a symmatric'.format(num))
        
is_symmartic(12567)

reverse_num:  7
reverse_num:  76
reverse_num:  765
reverse_num:  7652
reverse_num:  76521
num 12567 is not a symmatric

In [7]:
def is_symmartic(num):
    current_num=reverse_num=0
    remaning_num=num
    while (remaning_num !=0):
        current_num = remaning_num%10
        reverse_num=reverse_num *10 +current_num
        print('reverse_num: ',reverse_num)
        remaning_num=remaning_num//10
        
    if reverse_num == num:
        print('num {} is a symmatric'.format(num))
    else:
        print('num {} is not a symmatric'.format(num))
        
is_symmartic(44444444)

reverse_num:  4
reverse_num:  44
reverse_num:  444
reverse_num:  4444
reverse_num:  44444
reverse_num:  444444
reverse_num:  4444444
reverse_num:  44444444
num 44444444 is a symmatric

### Question 2
#### Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [23]:
def mult(n):
    n=n.replace(' ',"")
    n=n.split(',')
    sum=1
    
    for i in n:
        sum = sum * int(i)
    return sum

In [24]:
mult('2,3')

6

In [25]:
mult('1,2,3,4')

24

In [26]:
mult('54,75,453,0')

0

In [27]:
mult('10,-2')

-20

### Question 3
#### Create a function that squares every digit of a number.
Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

In [28]:
def square(s):
    z=''.join(str(int(i)**2)for i in str(s))
    return int(z)
square(9119)

811181

In [29]:
def square(s):
    z=''.join(str(int(i)**2)for i in str(s))
    return int(z)
square(2483)

416649

In [30]:
def square(s):
    z=''.join(str(int(i)**2)for i in str(s))
    return int(z)
square(3212)

9414

### Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [2]:
def setify(lst):
    return list(set(lst))

setify([1,3,3,5,5])

[1, 3, 5]

In [3]:
setify([4,4,4,4])

[4]

In [4]:
setify([5,7,8,9,10,15])

[5, 7, 8, 9, 10, 15]

In [5]:
setify([3,3,3,2,1])

[1, 2, 3]

### Question 5
#### Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [6]:
def mean_num(s):
    n=len(str(s))
    sum= mean = 0
    for i in str(s):
        sum+=int(i)
    return int(sum/n)
print(mean_num(42))

3

In [7]:
def mean_num(s):
    n=len(str(s))
    sum= mean = 0
    for i in str(s):
        sum+=int(i)
    return int(sum/n)
print(mean_num(12345))

3

In [8]:
def mean_num(s):
    n=len(str(s))
    sum= mean = 0
    for i in str(s):
        sum+=int(i)
    return int(sum/n)
print(mean_num(66666))

6