### Question1
#### Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.

### Examples

amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]

In [2]:
def num(s):
    return [i*10 if i %4 ==0 else i for i in range(1,s+1)]
num(4)

[1, 2, 3, 40]

In [3]:
num(3)

[1, 2, 3]

In [5]:
print(num(25))

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

### Question2
#### Create a function that takes a list of numbers and return the number that&#39;s unique.

Examples

unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

In [6]:
def unique(n):
    s=list(set(n))
    for i in s:
        if n.count(i)==1:
            return i

In [7]:
unique([3,3,3,7,3,3])

7

In [8]:
unique([0,0,0.77,0,0])

0.77

In [9]:
unique([0,1,1,1,1,])

0

### Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

### For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.
Examples
circy = Circle(11)
circy.getArea()
# Should return 380.132711084365
circy = Circle(4.44)
circy.getPerimeter()
# Should return 27.897342763877365

In [13]:
import math
pie=math.pi

In [16]:
class circle():
    def __init__(self,r):
        self.radius=r
        
    def getaera(self):
        return round(pie*self.radius**2)
    
    def getperameter(self):
        return round(2*self.radius*pie)

In [17]:
circy=circle(11)
circy.getaera()

380

In [18]:
circy=circle(4.44)
circy.getperameter()

28

### Question4
#### Create a function that takes a list of strings and return a list, sorted from shortest to longest.

Examples

sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])

➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]

sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])

➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]

sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])

➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]

In [19]:
def sort_len(lst):
    return sorted(lst,key=len)
sort_len(['google','apple','microsoft'])

['apple', 'google', 'microsoft']

In [21]:
sort_len(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [22]:
sort_len(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

### Question5
#### Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.`

### Examples
is_triplet(3, 4, 5) ➞ True

3² + 4² = 25

 5² = 25
 
is_triplet(13, 5, 12) ➞ True

 5² + 12² = 169
 
 13² = 169
 
is_triplet(1, 2, 3) ➞ False

 1² + 2² = 5
 
 3² = 9

In [23]:
def is_triplet(a,b,c):
    lst = []
    lst.extend((a,b,c))
    lst = sorted(lst)

    if lst[0]**2 + lst[1]**2 == lst[2]**2:
        print('Triplets')
        return True
    else:
        print("not triplet")
        return False

In [24]:
is_triplet(3,4,5)

Triplets

True

In [25]:
is_triplet(13,5,12)

Triplets

True

In [26]:
is_triplet(1,2,3)

not triplet

False